{% extends "base.html" %}

{% block title %}deplexus - portfolio{% endblock %}

{% block content %}
<section class = "portfolio">
    <h2 style="text-align:center;">I am Brock Smith</h2>
    <p>Thank you for viewing my portfolio. I am looking to get into systems development or developer relations. I love learning and being able to find workflows that work great with others.</p>

    <p>My experience has not been added here yet, but feel free to take a look at my <a href="https://github.com/plexlad">Github</a>. I do not have a lot of experience or practical projects on my repos yet, but I am always willing to talk and strike up a conversation. My email is <a href="mailto:brock@tylerjsmith.me">brock@tylerjsmith.me</a>.</p>

    <p style="text-align:center;">Again, thank you for viewing my page.</p>
</section>
{% endblock %}
